@import './bookings.scss';
@import './room-service.scss';
@import './main-tab.scss';
@import './customers.scss';

$primary-color: hsla(138, 44%, 40%, 0.3);
$secondary-color: #fff;
$current-display-color: #000;
$main-font: 'Roboto Condensed', sans-serif;

body {
  display: grid;
  font-family: $main-font;
  height: 100vh;
  grid-template-rows: 25% 75%;
  background-color: $primary-color;
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(../images/mountains.jpg);
  background-repeat: no-repeat;
  background-size: 100%
}

header{
  grid-row: 1 / 2;
  color: $secondary-color;
}

h1{
  text-align: center;
  font-size: 4em;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 0;
}

h2{
  font-size: 2em;
  margin-bottom: 10px;
}

ul {
  display: flex;
  justify-content: space-between;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: $primary-color;
  color: $secondary-color;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: hsla(0, 0%, 100%, 0.4);
  color: $current-display-color;
}

li {
  width: 22%;
  margin-left: 2px;
}

.tab-content{
  display: none;
  background: hsla(0, 0%, 100%, 0.4);
  padding: 15px;
}

.tab-content.current{
  background: hsla(0, 0%, 100%, 0.4);
  height: 95%;
  display: inherit;
}

main {
  grid-row: 2 / 3;
}

#tab-main {
  text-align: center;
}
