.all-room-service {
  display: flex;
  justify-content: space-evenly;
}

.previously-selected-customer,
.room-service-add-order,
.room-service-all-orders {
  flex-direction: column;
  margin: 10px;
}
